*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

body{
  background: rgb(125,125,125);
background: linear-gradient(78deg, rgba(125,125,125,1) 14%, rgba(252,69,69,1) 100%);
}

.gallery-section{
  width: 100%;
  padding: 60px 0;

}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.border{
  width: px;
  height: 7px;
  background: black;
  margin: 60px auto;
}

a{
  padding: 20px;
}
.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
  border: 2px solid white;
}

.gallery-section .image:hover img{
  transform: scale(1.3) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}

.sm a{
  color:var(--primary-color);
  font-size: 35px;
  margin: 0 10px;
  transition: .2s linear;
  color: black;
  text-decoration: none;
}

.sm a:hover{
  color: #48dbfb;
}

footer{
  color: black;
  padding: 80px 0;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  }
  
  .copyright{
      margin-bottom: 20px;
      font-size: 20px;
  }
  
  .copyright a{
      font-size: 30px;
      background: -webkit-linear-gradient( white, #48dbfb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bolder;
  }
  
  
.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: #303952;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s linear;
}

.contact-info i{
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}



.contact-info .item:hover{
  transition: .3s linear;
  background-color: lightblue;
  color: black;

}


.contact-info .item:hover .icon2{
  transition: 500ms ease-out;
  transform: rotate(360deg);
}

.contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #303952;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.nameZone, .emailZone{
  max-width: calc(50% - 10px);
}

.messageZone{
  min-height: 200px;
  resize: vertical;
}

.contact-form .btn{
  width: 180px;
  background-color: transparent;
  color: #34495e;
  font-weight: bolder;
  font-size: 18px;
  border: 4px solid #48dbfb;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: .3s linear;
  border-radius: 50px;
}

.contact-form .btn:hover{
  background-color: lightblue;
  color: black;
}

.section-title{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: black;
}

.section-title::before{
  content:"";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color:black;
  bottom: 0;
  left: calc(50% - 60px);
}

.section-title::after{
  content: "";
  position:absolute;
  width: 30px;
  height:15px;
  background: rgb(125,125,125);
  background: linear-gradient(78deg, black 14%, rgba(252,69,69,1) 100%);
  border: 3px solid white;
  left: calc(50% - 21px);
  bottom: -9px;
}